@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}


body{
    background-image: url('images/pig-2.jpg');
    background-size: cover;
    height: 100vh;
    
}


h1{
    text-align: center;
}


.area{
    width: 50%;
    height: 11vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    
}

.area-2{
           height: 5vh;
            width: 50%;
            margin: 1rem;
            padding: 1rem;
}

textarea{
    font-size:1.6rem;
    color:black;
}

::placeholder{
    text-align: center;
    font-size: 1rem;
    color:black;
    font-weight: bold;
    font-family: ;
}

#btn-translate{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    display: inline-block;
    padding: 15px 32px;
    border: 2px solid white;
    height: 3rem;
    width: 15rem;
    color:black;
    font-size: 1.5rem;
    cursor: pointer;
   
    }

#btn-translate:hover{
    background-color:white;
    color: black;
}

#btn-translate:active{
    background-color: black;
    color:silver;
}

footer{
	background-color:palevioletred;
    height: 10rem;
    text-align: center;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:yellow;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
    display: flex;
    margin-left: 30rem;
   
	
}
.social-icons i,.social i{
    color:#1560bd;
  
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}

section{
    margin-top: 7rem;
}

.second{
    margin-left: 23rem;
}



@media(max-width:858px){
	

    body{
        background-image: url('images/pig-3.jpg');
        background-size: cover;
        height: 100vh;
        width: 30vh;
        
    }
		
	footer{
        display: block;
    }
	
    footer p{
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
    }

        .social-icons{
        justify-content: center;
        align-items: center;
    }
	
	
}